In [9]:
# Step 1: Install kagglehub if not installed
!pip install -q kagglehub

# Step 2: Import necessary libraries
import kagglehub
import pandas as pd
import os

# Step 3: Download the dataset using kagglehub
path = kagglehub.dataset_download("lakshmi25npathi/online-retail-dataset")

print("Downloaded dataset path:", path)

Downloaded dataset path: /kaggle/input/online-retail-dataset

In [12]:
# Step 4: Construct Excel file path
excel_path = os.path.join(path, "online_retail_II.xlsx")

In [16]:
df = pd.read_excel(excel_path, sheet_name='Year 2010-2011')

In [17]:
# Step 6: Save the DataFrame as CSV
csv_path = "/content/online_retail_2010_2011.csv"
df.to_csv(csv_path, index=False)

In [18]:
print("CSV saved to:", csv_path)

CSV saved to: /content/online_retail_2010_2011.csv

In [5]:
df.shape

(541910, 8)

In [ ]:
df.describe()

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541910 entries, 0 to 541909
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      541910 non-null  object
 1   StockCode    541910 non-null  object
 2   Description  540456 non-null  object
 3   Quantity     541910 non-null  int64
 4   InvoiceDate  541910 non-null  datetime64[ns]
 5   Price        541910 non-null  float64
 6   Customer ID  406830 non-null  float64
 7   Country      541910 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [ ]:
df.isnull().sum()

Invoice             0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
Price               0
Customer ID    135080
Country             0
dtype: int64

In [ ]:
df_amd = df['Description'].fillna("Unknown", inplace=True)
print(df_amd)

None

/tmp/ipython-input-9-479798290.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_amd = df['Description'].fillna("Unknown", inplace=True)

In [ ]:
df.isnull().sum()

Invoice             0
StockCode           0
Description         0
Quantity            0
InvoiceDate         0
Price               0
Customer ID    135080
Country             0
dtype: int64

In [ ]:
df_cleaned = df.dropna(subset=["Customer ID"])
print(df_cleaned.isnull().sum())

Invoice        0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
Price          0
Customer ID    0
Country        0
dtype: int64

In [ ]:
df_cleaned = df_cleaned.drop_duplicates()
# Check for any remaining duplicates
duplicates_exist = df_cleaned.duplicated().any()
print("Are there any duplicates?", duplicates_exist)

Are there any duplicates? False

In [ ]:
num_canceled = df['Invoice'].str.startswith('C').sum()
print("Total canceled orders:", num_canceled)

Total canceled orders: 9288

In [ ]:
df = df[~df['Invoice'].astype(str).str.startswith('C')]
print("New dataset shape:", df.shape)

New dataset shape: (532622, 8)

In [ ]:
import pandas as pd

def remove_outliers_iqr_multiple(df, columns):
    for column in columns:
        Q1 = df[column].quantile(0.25)
        Q3 = df[column].quantile(0.75)
        IQR = Q3 - Q1
        lower_limit = Q1 - 1.5 * IQR
        upper_limit = Q3 + 1.5 * IQR
        df = df[(df[column] >= lower_limit) & (df[column] <= upper_limit)]
    return df

# Use it for Quantity and UnitPrice
df = remove_outliers_iqr_multiple(df, ["Quantity"])

print("Shape after removing outliers from columns:", df.shape)

Shape after removing outliers from columns: (475084, 8)

In [ ]:
import pandas as pd

# Assuming your DataFrame is named df
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])

# Check the data type to confirm
print(df['InvoiceDate'].dtype)

datetime64[ns]

In [ ]:
df.columns

Index(['Invoice', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'Price', 'Customer ID', 'Country'],
      dtype='object')

In [ ]:
unique_products = df['StockCode'].nunique()
print("Unique products:", unique_products)

Unique products: 4070

In [ ]:
total_transactions = df['Invoice'].nunique()
print("Total number of transactions:", total_transactions)

Total number of transactions: 19355

In [ ]:
unique_customers = df['Customer ID'].nunique()
print("Unique customers:", unique_customers)

Unique customers: 4372

In [ ]:
countries = df['Country'].unique()
print("Countries:", countries)
print("Total number of countries:", len(countries))

Countries: ['United Kingdom' 'France' 'Australia' 'Netherlands' 'Germany' 'Norway'
 'EIRE' 'Switzerland' 'Poland' 'Portugal' 'Italy' 'Belgium' 'Lithuania'
 'Japan' 'Iceland' 'Channel Islands' 'Denmark' 'Spain' 'Cyprus' 'Finland'
 'Austria' 'Sweden' 'Israel' 'Greece' 'Hong Kong' 'Singapore' 'Lebanon'
 'United Arab Emirates' 'Saudi Arabia' 'Czech Republic' 'Canada'
 'Unspecified' 'Brazil' 'USA' 'European Community' 'Bahrain' 'Malta' 'RSA']
Total number of countries: 38

In [ ]:
top_selling = df.groupby(['StockCode', 'Description'])['Quantity'].sum().sort_values(ascending=False).head(10)
print("Top 10 selling products by quantity:\n")
print(top_selling)

Top 10 selling products by quantity:

StockCode  Description
85099B     JUMBO BAG RED RETROSPOT               14050
84879      ASSORTED COLOUR BIRD ORNAMENT         11054
85123A     WHITE HANGING HEART T-LIGHT HOLDER    10751
20725      LUNCH BAG RED RETROSPOT               10519
22423      REGENCY CAKESTAND 3 TIER               8328
20727      LUNCH BAG  BLACK SKULL.                8208
20728      LUNCH BAG CARS BLUE                    7928
47566      PARTY BUNTING                          7822
22961      JAM MAKING SET PRINTED                 7658
22386      JUMBO BAG PINK POLKADOT                7453
Name: Quantity, dtype: int64

In [ ]:
# Create a new column for revenue
df['Revenue'] = df['Quantity'] * df['Price']

top_revenue = df.groupby(['StockCode', 'Description'])['Revenue'] \
                .sum().sort_values(ascending=False).head(10)

print("Top 10 revenue-generating products:\n")
print(top_revenue)

Top 10 revenue-generating products:

StockCode  Description
DOT        DOTCOM POSTAGE                        206248.77
22423      REGENCY CAKESTAND 3 TIER              109478.96
POST       POSTAGE                                78119.88
M          Manual                                 74751.34
47566      PARTY BUNTING                          43886.48
85123A     WHITE HANGING HEART T-LIGHT HOLDER     32930.13
85099B     JUMBO BAG RED RETROSPOT                32286.86
23298      SPOTTY BUNTING                         27708.70
22960      JAM MAKING SET WITH JARS               24286.90
23284      DOORMAT KEEP CALM AND COME IN          23477.38
Name: Revenue, dtype: float64

In [ ]:
# Filter all rows with zero or negative unit price
invalid_price_products = df[df['Price'] <= 0][['Invoice', 'StockCode', 'Description', 'Quantity', 'Price']]

print("All rows with zero or negative unit prices:\n")
print(invalid_price_products)

All rows with zero or negative unit prices:

       Invoice StockCode Description  Quantity  Price
1510    536545     21134         NaN         1    0.0
1985    536547     37509         NaN         1    0.0
1986    536546     22145         NaN         1    0.0
2022    536552     20950         NaN         1    0.0
2023    536549    85226A         NaN         1    0.0
...        ...       ...         ...       ...    ...
535326  581203     23406         NaN        15    0.0
535331  581208    72801C       check       -10    0.0
535332  581209     21620         NaN         6    0.0
535334  581211     22142       check        14    0.0
538554  581408     85175         NaN        20    0.0

[1342 rows x 5 columns]

In [ ]:
most_products = df.groupby('Customer ID')['Quantity'].sum().sort_values(ascending=False).head(10)

print("Top 10 customers who bought the most products:\n")
print(most_products)

Top 10 customers who bought the most products:

Customer ID
14911.0    35748
17841.0    17674
14096.0    14437
13089.0    12612
12748.0    12290
14298.0     7077
13081.0     6965
15039.0     6876
14156.0     6559
15311.0     6387
Name: Quantity, dtype: int64

In [ ]:
purchases_per_customer = df.groupby('Customer ID')['Invoice'].nunique()

print("Purchases per customer distribution:\n")
print(purchases_per_customer.describe())  # Summary stats

Purchases per customer distribution:

count    4216.000000
mean        4.030123
std         7.080543
min         1.000000
25%         1.000000
50%         2.000000
75%         4.000000
max       199.000000
Name: Invoice, dtype: float64

In [ ]:
loyal_customers = purchases_per_customer[purchases_per_customer >= 10]
print(f"Number of loyal customers (10+ purchases): {len(loyal_customers)}")
print("List of loyal customers:\n")
print(loyal_customers.sort_values(ascending=False))

Number of loyal customers (10+ purchases): 351
List of loyal customers:

Customer ID
12748.0    199
14911.0    197
17841.0    123
14606.0     93
15311.0     91
          ...
17858.0     10
12490.0     10
12481.0     10
12415.0     10
12362.0     10
Name: Invoice, Length: 351, dtype: int64

In [24]:
# Step 2: Convert 'InvoiceDate' to datetime
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])
df['Sales'] = df['Quantity'] * df['Price']

In [37]:
# Group by country and count unique invoices (orders)
orders_by_country = df.groupby('Country')['Invoice'].nunique().sort_values(ascending=False)

# Show top 10 countries
print("Top 10 countries by number of orders:\n")
print(orders_by_country.head(10))

Top 10 countries by number of orders:

Country
United Kingdom    23494
Germany             603
France              461
EIRE                360
Belgium             119
Spain               105
Netherlands         101
Switzerland          74
Portugal             71
Australia            69
Name: Invoice, dtype: int64

In [38]:
# Create a new column for revenue
df['Revenue'] = df['Quantity'] * df['Price']

# Group by country and sum revenue
revenue_by_country = df.groupby('Country')['Revenue'].sum().sort_values(ascending=False)

# Show top 10 countries by revenue
print("Top 10 countries by total revenue:\n")
print(revenue_by_country.head(10))

Top 10 countries by total revenue:

Country
United Kingdom    8187806.364
Netherlands        284661.540
EIRE               263276.820
Germany            221698.210
France             197421.900
Australia          137077.270
Switzerland         56385.350
Spain               54774.580
Belgium             40910.960
Sweden              36595.910
Name: Revenue, dtype: float64

In [39]:
df.to_csv('/content/sales_data.csv', index=False)

In [40]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [41]:
!cp /content/sales_data.csv /content/drive/MyDrive/